.admin_updateProduct-wrapper {
    display: flex;
    height: 100vh; 
    font-family: Arial, sans-serif;
}

.admin_updateProduct_navbar {
    width: 250px;
}

.admin_updateProduct-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin_updateProduct-heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.admin_updateProduct-form {
    display: flex;
    flex-direction: column;
}

.admin_updateProduct-input-div {
    margin-bottom: 15px;
}

.admin_updateProduct-input-label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.admin_updateProduct-input-field,
.admin_updateProduct-input-dropdown {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.admin_updateProduct-input-dropdown {
    appearance: none;
    background: transparent url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="%23555555"><path fill-rule="evenodd" d="M10 13.172l-6.364-6.364a.5.5 0 1 1 .708-.708L10 11.757l5.657-5.657a.5.5 0 0 1 .708.708L10.707 13.17a.5.5 0 0 1-.707 0z"/></svg>') no-repeat right 10px center;
    background-size: 10px;
}

.admin_updateProduct-input-error {
    color: #e74c3c;
    margin-top: 5px;
}

.admin_updateProduct-button-div {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.admin_updateProduct-button-submit,
.admin_updateProduct-button-reset {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
}

.admin_updateProduct-button-reset {
    background-color: #e74c3c;
}
