.admin_allUser_wrapper {
    display: flex;
    height: 100vh; /* Ensuring full viewport height */
    font-family: Arial, sans-serif;
}

.admin_allUser_navbar {
    flex: 250px; /* Navbar should not grow or shrink */
}

.admin_allUser_container {
    width: calc(100% - 250px); 
    margin: 20px 50px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.admin_allUser_heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.admin_allUser_msg {
    text-align: center;
    color: #888;
    font-size: 18px;
    margin-top: 20px;
}

.admin_allUser_list {
    list-style: none;
    padding: 0;
}

.admin_allUser_item_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
}

.admin_allUser_item_data_div {
    flex: 1;
    margin-right: 10px;
    font-size: 16px;
    color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center text horizontally */
}

.admin_allUser_item_button {
    display: flex;
}

.admin_allUser_item_button_unblock,
.admin_allUser_item_button_block {
    padding: 8px 12px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.admin_allUser_item_button_unblock {
    background-color: #4CAF50;
    color: white;
}

.admin_allUser_item_button_unblock:hover {
    background-color: #45a049;
}

.admin_allUser_item_button_block {
    background-color: #f44336;
    color: white;
}

.admin_allUser_item_button_block:hover {
    background-color: #e53935;
}
