/* Wrapper for the whole home component */
.user_home_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: Arial, sans-serif;
}

/* Navbar container */
.user_home_navbar {
    width: 100%;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Container for the main content */
.user_home_container {
    margin-top: 80px; /* To avoid overlap with the fixed navbar */
    width: 80%;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Poster section */
.user_home_poster {
    width: 100%;
    margin-bottom: 20px;
}

/* Poster image styling */
.user_home_poster_image {
    width: 100%;
    border-radius: 8px;
}

/* Message displayed when no products are available */
.user_home_message {
    text-align: center;
    color: #888;
    font-size: 18px;
    margin-top: 20px;
}

/* Grid container for product items */
.user_home_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
}

/* Product list item styling */
.user_home_list {
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Product item image styling */
.user_home_item_image {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    border-radius: 4px;
    margin-bottom: 10px;
}

/* Product item name styling */
.user_home_item_name {
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
}

/* Product item price styling */
.user_home_item_price {
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
}

/* Product item quantity styling */
.user_home_item_quantity {
    font-size: 16px;
    color: #555;
}

.user_home_item_btn {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .user_home_item_btn:hover {
    background-color: #0056b3;
  }